@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/mulish-v10-latin-300.eot");
  src: url("../fonts/mulish-v10-latin-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mulish-v10-latin-300.woff2") format("woff2"),
    url("../fonts/mulish-v10-latin-300.woff") format("woff"),
    url("../fonts/mulish-v10-latin-300.ttf") format("truetype"),
    url("../fonts/mulish-v10-latin-300.svg#Mulish") format("svg");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v10-latin-regular.eot");
  src: url("../fonts/mulish-v10-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mulish-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/mulish-v10-latin-regular.woff") format("woff"),
    url("../fonts/mulish-v10-latin-regular.ttf") format("truetype"),
    url("../fonts/mulish-v10-latin-regular.svg#Mulish") format("svg");
}

@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/mulish-v10-latin-600italic.eot");
  src: url("../fonts/mulish-v10-latin-600italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mulish-v10-latin-600italic.woff2") format("woff2"),
    url("../fonts/mulish-v10-latin-600italic.woff") format("woff"),
    url("../fonts/mulish-v10-latin-600italic.ttf") format("truetype"),
    url("../fonts/mulish-v10-latin-600italic.svg#Mulish") format("svg");
}

* {
  margin: 0;
  padding: 0;
  font-family: Mulish, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

section {
  width: 100%;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0px 20px 0px 20px;
  margin: auto;
}

main {
  margin: auto;
}

/* header */

.header {
  margin: 135px 0px 67px 0px;
  display: flex;
  justify-content: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav-list {
  width: 545px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__nav-list-link-active {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: Mulish;
}

.header__nav-list-link:hover {
  color: #000;
  font-weight: bold;
}

.header__nav-list-item-active {
  color: black;
  cursor: pointer;
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
}

.header__nav-list-item:hover {
  cursor: pointer;
  color: black;
}

.header__nav-list-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Mulish;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

/* hero */

.hero::before {
  transform: scale(0.7);
  margin-left: -80px;
  position: absolute;
  content: url(/img/element.svg);
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
}

.hero__text {
  width: 445px;
}

.hero__text-name {
  font-family: Mulish;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.hero__text-description {
  color: #7d7987;
  margin-top: 25px;
  margin-bottom: 47px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
}

.hero__text-button {
  background-color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 55px;
  padding: 16px 40px 16px 40px;
  color: white;
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.hero__text-button:hover {
  background-color: #ffffff;
  color: #458ff6;
}

/* services */

.services__container {
  margin-bottom: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__line {
  width: 100px;
  height: 3px;
  background-color: black;
}

.services__text {
  width: 952px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.services__name {
  font-family: Mulish;
  font-style: normal;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 26px;
}

.services__line {
  margin-bottom: 17px;
}

.services__description {
  color: #7d7987;
  text-align: center;
  margin: 33px 0px 0px 0px;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.services__card {
  width: 1220px;
  display: flex;
  justify-content: center;
}

.services__card-list {
  width: 1120px;
  margin: 67px 0px 85px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services__card-list::before {
  content: url(/img/Frame\(1\).svg);
  position: absolute;
  z-index: -1;
  margin: -230px 0px 0px -350px;
}

.services__image {
  display: none;
  position: absolute;
  z-index: -1;
  margin-left: -66%;
  margin-top: -13%;
}

.services__text:after {
  content: url(/img/element.svg);
  position: absolute;
  z-index: -1;
  margin: 572px 0px 0px 1065px;
}

.services__card-item {
  width: 270px;
  background-color: #ffffff;
  border: 1px solid rgb(207, 207, 207);
  margin: 0px 29px 29px 0px;
  padding: 49.5px 38px 49.5px 38px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  transition: 0.8s transform;
}

.services__card-item:nth-child(3n + 0) {
  margin-right: 0px;
}

.services__card-item:hover {
  transform: scale(1.05, 1.05);
}

.services__card-img {
  display: block;
  flex-grow: 3;
}

.services__card-name {
  text-align: left;
  font-family: Mulish;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  flex-grow: 1;
  flex-basis: 56px;
  flex-grow: 1;
}

.services__card-text {
  color: #7d7987;
  text-align: left;
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  flex-grow: 1;
  flex-basis: 84px;
  flex-grow: 2;
}

.services__button-learn {
  width: 200px;
  color: #458ff6;
  background-color: white;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  padding: 18px 0px 18px 0px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.services__button-learn:hover {
  color: white;
  background-color: #458ff6;
}

.services__button-learn:active {
  transform: scale(0.97, 0.97);
}

/* provides */

.provides__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 229px;
}

.provides__right-site {
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.provides__right-site-name {
  margin-bottom: 47px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
}

.provides__right-site-line {
  margin-bottom: 47px;
}

.provides__right-site-info {
  width: 450px;
  margin-bottom: 47px;
  color: #7d7987;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.provides__right-site-button {
  width: 98px;
  color: #458ff6;
  border: #458ff6 1.4px solid;
  border-radius: 47px;
  padding: 13px 51px 13px 51px;
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 167%;
}

.provides__right-site-button:hover {
  background-color: #458ff6;
  color: white;
}

/* download */

.download__container {
  margin-bottom: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.download__left-site {
  width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.download__left-site-name {
  margin-bottom: 47px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.download__left-site-line {
  margin-bottom: 47px;
}

.download__left-site-info {
  width: 380px;
  margin-bottom: 47px;
  color: #7d7987;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.download__left-site-button {
  background-color: white;
  color: #458ff6;
  width: 200px;
  padding: 15px 0px 16px 0px;
  border: #458ff6 1.4px solid;
  border-radius: 47px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 167%;
}

.download__left-site-button:hover {
  background-color: #458ff6;
  color: white;
}

.download__left-site-button-img {
  margin-left: 10px;
}

/* customer */

.customer::before {
  content: url(/img/element3.svg);
  position: absolute;
  margin-top: 280px;
  margin-left: -40px;
}

.customer__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 220px;
}

.customer__card {
  width: 951px;
  text-align: center;
  margin-bottom: 50px;
  padding: 68px 120px 85px 120px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}

.customer__card-name {
  color: white;
  font-family: Mulish;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 25px;
}

.customer__card-name::before {
  content: url(/img/element2.svg);
  position: absolute;
  margin-top: -55px;
  margin-left: 780px;
}

.customer__card-line {
  margin-bottom: 70px;
  border-radius: 6px;
}

.customer__card-man {
  width: 951px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer__card-man-info {
  display: flex;
}

.customer__card-man-img {
  margin-right: 25px;
}

.customer__card-man-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.customer__card-man-name {
  color: white;
  font-family: Mulish;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  margin-bottom: -15px;
}

.customer__card-man-type {
  color: white;
  font-family: Mulish;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
}

.customer__card-man-comment {
  color: rgba(255, 255, 255, 0.9);
  width: 420px;
  font-family: Mulish;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  text-align: left;
}

.customer__select {
  width: 336px;
  display: flex;
  justify-content: space-evenly;
}

.customer__select button {
  width: 29px;
  height: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.customer__select button svg {
  fill: rgb(233, 233, 233);
}

.customer__select button svg:hover {
  fill: #4089ed;
  cursor: pointer;
}

/* articles */

.articles__container {
  margin-bottom: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.articles__name {
  text-align: center;
  font-family: Mulish;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 26px;
}

.articles__line {
  margin-bottom: 72px;
}

.articles__name::after {
  content: url(/img/element.svg);
  position: absolute;
  margin-top: 110px;
  margin-left: -880px;
  transform: scale(0.8, 0.8);
  z-index: -1;
}

.articles__box-list {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles__box-list::before {
  content: url(/img/Frame3.svg);
  position: absolute;
  z-index: -1;
  margin-left: 820px;
}

.articles__box-item {
  width: 350px;
  padding-bottom: 35px;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
  transition: transform 1s;
  background-color: white;
}

.articles__box-item:hover {
  transform: scale(1.05, 1.05);
  background-color: rgb(247, 247, 247);
}

.articles__box-item:hover .articles__box-button {
  background-color: rgb(247, 247, 247);
}

.articles__box-img {
  border-radius: 20px;
  margin-bottom: 21px;
}

.articles__box-text {
  width: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.articles__box-name {
  width: 251px;
  margin-bottom: 20px;
  font-family: Mulish;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
}

.articles__box-info {
  width: 266px;
  margin-bottom: 20px;
  color: #7d7987;
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.articles__box-button {
  width: 266px;
  border: none;
  background-color: white;
  color: #4089ed;
  font-family: Mulish;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: left;
}

.articles__box-button-img {
  margin-left: 10px;
}

.articles__button {
  background-color: white;
  border: 1.4px solid #458ff6;
  padding: 13px 65px;
  border-radius: 55px;
  color: #458ff6;
  font-family: Mulish;
  font-weight: bold;
  font-size: 18px;
  line-height: 167%;
  cursor: pointer;
}

.articles__button:hover {
  background-color: #458ff6;
  color: white;
}

/* footer */

.footer::before {
  content: url(/img/element4.svg);
  position: absolute;
  margin-top: -100px;
  margin-left: 1240px;
}

footer {
  width: 100%;
  padding: 110px 0px 110px 0px;
  background-image: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  display: flex;
  margin: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__left-site {
  width: 391px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__left-site-info {
  color: white;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.footer__left-site-rights {
  color: white;
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  display: flex;
}

.footer__right-site {
  width: 608px;
  display: flex;
  justify-content: space-between;
}


.footer__right-site-link {
  color: white;
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.footer__right-site-link:hover {
  text-decoration: underline white;
}

.footer__right-site-item {
  color: white;
  font-family: Mulish;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
}

.footer__container::after {
  content: url(/img/element5.svg);
  position: absolute;
  margin-top: 200px;
  margin-left: -120px;
  transform: scale(0.8, 0.8);
}